@model IEnumerable<Project_ON_MVC.Models.User>


<body class="admin-div">

    <div class="bg-image h-100" style="background-color: #8ebcdb; margin-top:5%">
        <table class="table .thead-dark">
            <tr>
                <th>
                    <b>USER ID </b>
                    @Html.DisplayNameFor(model => model.Users_ID)
                </th>
                <th>
                    <b>EMAIL ID </b>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    <b>PASSWORD ID </b>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    <b>ROLE  </b>

                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Role_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_status)
                    </td>
                   
                </tr>
            }

        </table>
    </div>
</body>