@model IEnumerable<Project_ON_MVC.Models.User>

@{
    ViewData["Title"] = "Users";
}

<style>
    th {
        padding: 10px;
        font-size: medium;
        background-color: darksalmon;
        text-align: center;
    }
</style>

<body class="admin-div">

    <div class="bg-image h-100" style="background-color: #8ebcdb; margin-top:5%">
        <table class="table table-bordered .thead-light" style="background-color:lightgray;text-align:center">
            <tr>
                <th>
                    <b>USER ID </b>

                </th>
                <th>
                    <b>EMAIL ID </b>

                </th>
                <th>
                    <b>PASSWORD  </b>

                </th>
                <th>
                    <b>ROLE  </b>

                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Role_Name)
                    </td>


                </tr>
            }

        </table>
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}