@model List<Project_ON_MVC.Models.Tracking>

@{
    ViewBag.Title = "ShowPlacedOrder";
}




<style>
    th {
        padding: 15px;
        font-size: medium;
        padding-left: 5px;
        background-color: peachpuff;
        color: dodgerblue;
    }
</style>

<body style="background-image: url('/Images/orderImage.jpg'); background-size: cover;">


    <div class="bg-image h-100" style="background-color:lightgrey; margin-top:5%">

        @if (Model.Count > 0)
        {
            <table class="table table-bordered .thead-light" style="background-color:lightgray">
                <thead>
                    <tr>
                        <th>
                            TRACKING ID
                        </th>
                        <th>
                            SOURCE
                        </th>
                        <th>
                            DESTINATION
                        </th>
                        <th style="padding-left:90px">
                            Order Status
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:220px">
                                @Html.DisplayFor(modelItem => item.Tracking_Number)
                            </td>
                            <td style="width:220px">
                                @Html.DisplayFor(modelItem => item.Order_Details.Source_Description)
                            </td>
                            <td style="width:220px">
                                @Html.DisplayFor(modelItem => item.Order_Details.Dest_Description)
                            </td>
                            <td style="width:160px">
                                @Html.ActionLink("Track", "TrackingStatus", "Tracking", new { id = item.Tracking_Number }, new { @class = "btn btn-primary", @style = "width:180px;margin-left:30px;" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 style="text-align:center;color:cadetblue"><b>NO ORDERS  !!</b></h3>

        }
        <div style="height:70px;"></div>
    </div>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}