@model IEnumerable<Project_ON_MVC.Models.Shipment>


<body class="admin-div">

    <div class="bg-image h-100" style="background-color: #8ebcdb; margin-top:5%">
        @if (ViewBag.route_msg != null)
        {
            <div style="border: 1px solid red ;font-size:larger;">
                @ViewBag.route_msg
            </div>

            <p>
                @Html.ActionLink("Back to PlaceOrder", "PlaceOrder", "Orders")
            </p>
        }
        else
        {
            <h2>List Of Companies </h2>
            <table class="table .thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Route_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Source)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Base_Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Distance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company.Company_Name)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Base_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_ID)
                        </td>
                        <td>
                            @Html.ActionLink("DisplayCompany", "Show_Company", new { id = item.Company_ID })
                        </td>
                        <td>
                            <button type="button" class="btn btn-success"> @Html.ActionLink("Select", "Confirm", new { id = item.Route_ID })</button>
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
</body>