<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
   
    @Styles.Render("~/Content/css")                                            
    @Scripts.Render("~/bundles/modernizr")                                                 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (Session["email"] != null)

                    {
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@

                        @*<li>@Html.ActionLink("User SignUp", "SignUp", "User")</li>*@
                        <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                        if ((int)Session["Role"] == 12)
                        {
                            //    <li>@Html.ActionLink("PlaceOrder", "PlaceOrder", "Order")</li>
                            <li>@Html.ActionLink("ShowPlacedOrder", "ShowPlacedOrder", "Orders")</li>
                            <li>@Html.ActionLink("Search", "Search", "Company")</li>
                            <li>@Html.ActionLink("PendingOrders", "ShowUnPaidOrder", "Orders")</li>
                            <li>@Html.ActionLink("Place Order", "PlaceOrder", "Orders")</li>
                        }
                        else if ((int)Session["Role"] == 13)
                        {
                            <li>@Html.ActionLink("AllOrders", "DisplayCompany_Orders", "Company")</li>
                            <li>@Html.ActionLink("Search", "Search", "Company")</li>
                            <li>@Html.ActionLink("Add Route ", "Add_Route", "Shipment")</li>
                            <li>@Html.ActionLink("Pending Orders", "TrackingStatusUpdate", "Tracking")</li>
                            <li>@Html.ActionLink("Routes", "ShowAllRoutes","Company")</li>
                        }
                        else
                        {

                            <li>@Html.ActionLink("Register Comp", "Request_List", "Admin")</li>
                            <li>@Html.ActionLink("Search", "Search", "Company")</li>
                            <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                            <li>@Html.ActionLink("Orders", "ShowOrders", "Admin")</li>
                            <li>@Html.ActionLink("Companies", "Companies", "Admin")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                        <li>@Html.ActionLink("Track Order", "Search", "Company")</li>
                    }
                </ul> 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
